.textarea {
	border: 0 solid #ccc;
	border-radius: var(--border-radius);
	font-family: inherit;
	box-sizing: border-box;
	outline: none;
	padding: 0.75rem 1rem;
	min-height: 5rem;
	resize: none;
	width: 100%;
}
