.nav {
	border-right: 0.0625rem solid var(--border-color);
	display: flex;
	flex-direction: column;
	min-width: 15rem;

	nav {
		margin-top: 5vh;
	}

	.navHeader {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding-right: 1rem;
	}
}
