.heatmapContainer {
	position: relative;
}

.svgContainer {
	& > svg > rect {
		fill: none;
	}
}

.tooltip {
	border: 0.125rem solid var(--light-border-color);
	color: var(--text-color-primary);
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	position: absolute;
}

rect[data-count="0"] {
	stroke: var(--light-border-color);
}
