:root {
    --main-idle-icon-color: #CFD3E6;
    --main-highlight-color: #314EFF;
}

.u-flex {
    display: flex;
}

.u-flex-row {
    flex-direction: row;
}

.u-flex-column {
    flex-direction: column;
}
