*,
* *,
* * * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

:root {
	--grey: 212, 219, 229;
	--black: 0, 0, 0;
	--red: 255, 20, 20;
	--light-red: 255, 129, 129;

	--blue: 82, 185, 232;
	--orange: 240, 125, 49;

	//sizes
	--app-max-width: 75rem;
	--border-radius: 0.125rem;
}

:root .light {
	--background-color-primary: rgb(var(--grey));
	--text-color-primary: rgb(var(--black));
	--text-color-secondary: rgba(var(--black), .8);
	--text-color-opposite: rgba(var(--grey), .7);

	--error: rgb(var(--red));

	--border-color: rgba(var(--black), 0.1);
	--light-border-color: rgba(var(--black), 0.1);

	--color-active: rgb(var(--orange));
}

:root .dark {
	--background-color-primary: rgb(var(--black));
	--text-color-primary: rgb(var(--grey));
	--text-color-secondary: rgba(var(--grey), .8);
	--text-color-opposite: rgba(var(--black), .7);

	--error: rgb(var(--red));

	--border-color: rgba(var(--grey), 0.1);
	--light-border-color: rgba(var(--grey), 0.1);

	--color-active: rgb(var(--blue));
}

.app {
	background: var(--background-color-primary);
	color: var(--text-color-primary);
	display: flex;
	min-height: 100vh;
	overflow: hidden;
}

.content-container {
	margin: 0;
	padding: 1rem;
	width: 100%;
}
