*,
* *,
* * * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

:root {
	--grey: rgb(202, 209, 219);
	--black: rgb(0, 0, 0);

	--blue: rgb(82, 185, 232);
	--orange: rgb(240, 125, 49);

	//sizes
	--app-max-width: 75rem;
}

:root .light {
	--background-color-primary: var(--grey);
	--text-color-primary: var(--black);
}

:root .dark {
	--background-color-primary: var(--black);
	--text-color-primary: var(--blue);
}

.app {
	background: var(--background-color-primary);
	color: var(--text-color-primary);
	display: flex;
	min-height: 100vh;
	overflow: hidden;
}

.content-container {
	margin: 0;
	width: 100%;
}
