*,
* *,
* * * {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: Roboto;
}

.App {
    background: #f4f5f9;
    color: #6672a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.App-logo {
    height: 4rem;
    pointer-events: none;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}
